body{
    font-family: 'Roboto', sans-serif;
    margin:0;
   
}

div{
    padding: 30px;
}

#text1{
    font-family: 'Roboto Bold', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}
.button{
    margin-left:28px;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.header{
    background-color: #1F2937;
    color:white;
}
.toolbar{
    padding-top: 0;
    margin:0;
    display: flex;
}

#logo{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-right: 575px;
    padding-left: 60px;
}

#link1{
    float:right;
}


.headercontent{
    display:flex;
}

.headerbottom{
    
    display: block;
}

.header-text{
    display: block;
}

.container2{
    background-color: white;
}

.middletext{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.boxcontainer{
    display: flex;
    flex: 1;
    justify-content: center;
}

.actualbox{
    border: 5px;
    padding: 150px;
    padding-top: 180px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 5px;
}

.description{
    text-align: center;
}

.source{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-align: right;
}
.quotecontainer{
    font-style: italic;
    justify-content: center;
    text-align: center;
    background-color: #E5E7EB;
    padding:250px;
    font-size: 36px;
}

.footercontainer{
    display:block;
    padding: 200px;
}
.calltoaction{
    display: inline-flex;
    background-color: #3882F6;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    padding-left: 250px;
    padding-right: 250px;
}

.calltext1{
    font-weight:700;
    color: #F9FAF8;
    font-size: 24px;
    padding: 0%;
}

.calltext2{
    padding:0;
    font-size: 18px;
    color: #E5E7EB;
}

.contactContainer{
    color:white;
    margin-top: 50px;
    height: 22px;
    width: 200px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-width: 2px ;
    border-style: solid ;
    border-radius: 20px;
    border-color: white;
    padding:4px;
}

